Source: libslp-lbs-plugin-replay
Section: devel
Priority: extra
Maintainer: Youngae Kang <youngae.kang@samsung.com>, Yunhan Kim <yhan.kim@samsung.com>, Genie Kim <daejins.kim@samsung.com>
Uploaders: Genie Kim <daejins.kim@samsung.com>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, gps-manager-plugin-dev, libglib2.0-dev, libvconf-dev, vconf-internal-keys-dev, dlog-dev
Standards-Version: 0.1.0

Package: libslp-lbs-plugin-replay
Section: libs
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libvconf-0, libdlog-0
Description: GPS manager plugin library for replay mode

Package: libslp-lbs-plugin-replay-dbg
Section: debug
Architecture: any
Depends:  libslp-lbs-plugin-replay (= ${Source-Version})
Description: GPS manager plugin library for replay mode (for debugging)
